body {
    background-color: rgb(146, 116, 200);
    color: rgb(172, 255, 160);
    font-family: cursive;
    font-size: larger;
    text-align: center;
}

footer {
    color: rgb(82, 35, 226);
    background-color: rgba(205, 175, 226, 0.854);

}

h3 {
    color: rgb(167, 255, 167);
    background-color: rgba(205, 175, 226, 0.854)
}

table {
    border-collapse: separate;
    padding-bottom: 500px;
    padding-top: 150px;
    margin: auto;
    border: 10px;
    border-color: rgb(0, 0, 0);
}

.cell {
    background-color: rgb(188, 175, 214);
    margin: auto;
    border-color: black;
    width: 40px;
    height: 40px;
    cursor: pointer;
}